  
body {
    background-image: url("https://www.swollenhippo.com/background.jpg");
    height: 100%;
    width: 100%;
    margin:0px;
    background-size: auto;
}
#divNostalgiaEmployeeCards{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
#divNostalgiaEmployeeCards .card {
      display: inline-block;
    }
#divNostalgiaEmployeeCards::-webkit-scrollbar {
    display: none;
}
  

img {
    border-radius: 50%;
  }